.review-item{
    border: 1px solid gray;
    border-radius: 8px;
    margin: 10px;
    padding: 8px;
    width: 571px;
    display: flex;

}
.review-item img{
    width: 91px;
    border-radius: 8px;
    margin-right: 8px;
}
.review-item-details p{
    margin: 0px;
}
.review-item-details h3{
    margin: 0px;
}
.review-item-details-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.delete-container{
    display: flex;
    align-items: center;
}
.delete-icon{
    color: red;
    font-size: 27px;
}
.delete-btn {
    border: 0;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    cursor: pointer;
}